<div class="flex justify-center mt-14">
  <div class="min-w-1/4 p-8 bg-yellow-200 rounded-xl border border-black">
    <h2 class="text-4xl font-bold mb-6 text-center">Create account</h2>
    <form>
      <div class="mb-4">
        <label class="block font-semibold mb-2" for="email"> Email </label>
        <input
          class="border rounded py-2 px-3 bg-yellow-100"
          style="width: 100%"
          id="email"
          type="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="mb-4">
        <label class="block font-semibold mb-2" for="email"> Username </label>
        <input
          class="border rounded py-2 px-3 bg-yellow-100"
          style="width: 100%"
          id="username"
          type="text"
          placeholder="Enter your username"
        />
      </div>
      <div class="mb-6">
        <label class="block font-semibold mb-2" for="password">
          Password
        </label>
        <input
          class="border rounded py-2 px-3 bg-yellow-100"
          style="width: 100%"
          id="password"
          type="password"
          placeholder="Enter your password"
        />
      </div>
      <div class="flex flex-col items-center">
        <button class="btn" type="button">Create account</button>
        <div>
          <p class="inline">Already a member?</p>
          <a routerLink="/login">
            <button class="font-semibold underline ml-2 mt-4" type="button">
              Sign in
            </button>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
