<div class="flex justify-center mt-14">
  <div class="min-w-1/4 p-8 bg-yellow-200 rounded-xl border border-black">
    <h2 class="text-4xl font-bold mb-6 text-center">Create account</h2>
    <form (ngSubmit)="register()">
      <div class="mb-4">
        <label class="block font-semibold mb-2" for="email"> Email </label>
        <input
          [(ngModel)]="email"
          class="border rounded py-2 px-3 bg-yellow-100"
          style="width: 100%"
          name="email"
          type="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="mb-4">
        <label class="block font-semibold mb-2" for="email"> Username </label>
        <input
          [(ngModel)]="name"
          class="border rounded py-2 px-3 bg-yellow-100"
          style="width: 100%"
          name="username"
          type="text"
          placeholder="Enter your username"
        />
      </div>
      <div class="mb-6">
        <label class="block font-semibold mb-2" for="password">
          Password
        </label>
        <input
          [(ngModel)]="password"
          class="border rounded py-2 px-3 bg-yellow-100"
          style="width: 100%"
          name="password"
          type="password"
          placeholder="Enter your password"
        />
      </div>
      <p class="text-center font-semibold mb-6">{{ errorMessage }}</p>
      <div class="flex justify-center" style="width: 100%">
        <button class="btn mb-6" type="submit">Create account</button>
      </div>
    </form>
    <p class="text-center" style="width: 100%">Already a member?</p>
    <a routerLink="/login">
      <button class="font-semibold underline" style="width: 100%">
        Sign in
      </button>
    </a>
  </div>
</div>
