<div class="flex justify-center mt-14">
  <div class="min-w-1/4 p-8 bg-yellow-200 rounded-xl border border-black">
    <h2 class="text-4xl font-bold mb-6 text-center">Sign In</h2>
    <form (ngSubmit)="login()">
      <div class="mb-4">
        <label class="block font-semibold mb-2" for="email"> Email </label>
        <input
          class="border rounded py-2 px-3 bg-yellow-100"
          style="width: 100%"
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="mb-6">
        <label class="block font-semibold mb-2" for="password">
          Password
        </label>
        <input
          class="border rounded py-2 px-3 bg-yellow-100"
          style="width: 100%"
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Enter your password"
        />
      </div>
      <p class="text-center font-semibold">{{ errorMessage }}</p>
      <div class="flex justify-center" style="width: 100%">
        <button class="btn mb-4" type="submit">Sign In</button>
      </div>
    </form>
    <a routerLink="/register">
      <button class="text-center" style="width: 100%">
        Create new account
      </button>
    </a>
  </div>
</div>
