<div class="p-4 w-full">
  <div>
    <h1 class="text-2xl font-semibold">Posts</h1>
  </div>
  <div class="my-5 flex">
    <div
      class="px-6 py-4 mx-5 bg-yellow-200 cursor-pointer rounded-xl min-w-30px border border-black hover:border-b-4"
    >
      <h3 class="font-semibold text-lg">{{ postTitle }}</h3>
      <input class="p-3 mt-2 bg-yellow-100 rounded-md w-full" />
      <div class="flex mt-3 justify-end">
        <button (click)="handlePostSubmit()" class="btn py-1 mr-0">Post</button>
      </div>
    </div>
  </div>
</div>
