<div class="p-4 flex justify-between items-center rounded-b-lg mb-4">
  <a routerLink="" class="text-3xl font-bold ml-12">
    Delenta Guestbook Application Exercise
  </a>
  <div>
    <a *ngIf="isAdmin" routerLink="admin" class="btn">ADMIN PANEL</a>
    <a *ngIf="isLoggedIn" routerLink="profile" class="btn">PROFILE</a>
    <a *ngIf="!isLoggedIn" routerLink="login" class="btn ml-12 bg-yellow-400"
      >LOGIN</a
    >
    <a
      *ngIf="isLoggedIn"
      (click)="logout()"
      class="btn ml-12 bg-yellow-400 cursor-pointer"
      >SIGN OUT</a
    >
  </div>
</div>
